@use "../../styles/mixins" as *;
.header {
	display: flex;
	flex-direction: column;
	margin: 0;
	text-align: center;
	margin: 5rem 0;
	&_heading {
		font-size: 3.5rem;
		color: white;
		margin: 0 0 2rem 0;

		@include respond(sm) {
			font-size: 4.5rem;
		}

		@include respond(md) {
			font-size: 6rem;
		}
	}
	&_paragraph {
		font-size: 2.2rem;
		color: white;
	}
}
