.main {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100vh;
	&_heading {
		margin: 0 0 3rem 0;
		font-size: 2.2rem;
		font-weight: bold;
		color: white;
	}
	&_list {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		padding: 0 1rem;
		gap: 1rem;
	}
}
