@use "../../styles/mixins" as *;

.music_player {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 90%;
	padding: 2rem;
	border-radius: 20px;
	margin-top: 5rem;
	opacity: 70%;

	@include respond(lg) {
		width: 90%;
	}

	&_heading {
		margin-bottom: 2rem;
		font-size: 2rem;
		color: white;
	}

	&_list {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 2rem;
		list-style: none;
		text-align: center;
		width: 100%;

		@include respond(md) {
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: center;
		}

		@include respond(lg) {
			width: 100%;
		}

		&-item {
			color: white;
			font-weight: bold;
			width: 100%;
			max-width: 400px;
			display: flex;
			flex-direction: column;
			align-items: center;

			&-paragraph {
				margin: 0 0 1rem 0;
				color: white;
				width: 120%;
			}

			audio {
				width: 100%;
			}
		}
	}
}
