.music_player {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 90%;
	background-color: oklch(71.2% 0.194 13.428);
	padding: 2rem;
	border-radius: 20px;
	margin-top: 5rem;
	opacity: 80%;

	&_heading {
		margin-bottom: 2rem;
		font-size: 2rem;
		color: white;
	}

	&_list {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 2rem;
		width: 90%;
		list-style: none;
		text-align: center;

		&-item {
			color: white;
			font-weight: bold;

			&-paragraph {
				margin: 0 0 1rem 0;
				color: white;
			}
		}
	}
}
